html,
button,
input,
select,
textarea {font-family: 'Open Sans', sans-serif;}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
	display: block;
}
p{margin:0 0 12px 0;}
.clear{clear:both;}
body{font-family: 'Open Sans', sans-serif; line-height:1.5em;
margin:0px;
padding:0px;
background:url(images/background.jpg) no-repeat;
background-size: cover;
}
.container{width:100%; height:100%; padding:0px; margin:0px;  }
img{border-style:none;}
a img{border-style:none;}
.lft{float:left;}
.rht{float:right;}

.wrapper{width:960px; margin:0 auto; padding:10px 5px; border:2px solid #000; }
.wrapper_print{width:1700px; margin:0 auto;}
.cards_con{/*background: #fff url(images/card_back.jpg) no-repeat;*/
width:895px;min-height:305px; height:auto;
background-size: 100% 100%;
margin: 0 auto;
}
.data-entry{text-align:center;}
.data-entry h2{margin:5px 0 10px 0;}

/**********Data Adding Form*************/
.input-group{
  display: block;
  position: relative;
  width: 187px;
  margin:0 0 10px 0;
  }
.input-group input[type="text"],.input-group input[type="tel"]{background:none; border:none; border-bottom:2px solid #008A2E; 
color: #000;
  padding: 2px 3px 1px;
  font-size: 13.3px;
  font-weight:700;
  width: 160px;
display: block;
  /*
  width:167px;*/ height:25px;
  margin:2px 0 2px 2px;
}
.input-group textarea{width:210px; max-width:270px; height:50px;background:none; border:none; margin:-6px 0 0 58px; 
border-bottom:2px solid #008A2E; 
color: #000;
  padding: 2px 3px 1px;
  font-size: 13.3px;
 }
 .add_btn input[type="submit"]{background:url(images/submit-btn.png) no-repeat; background-size:100% 100%; width:120px; height:30px; font-size:0px;
}

  .input-group input[type="text"]:focus,
  .input-group input[type="text"]:active{
    outline: none;}

.add-left{width:23%; padding:16% 0 0 27%;}
.add-right{width:43%;  padding:5% 0px 0px 6%; }

.add-left label{
    position:absolute;
    transform:translateY(-102%);
    color: #666;
   /* transition;*/
   -webkit-transition-delay: 10s; /* Safari */
    transition-delay: 10s;
	font-size: 12px;
   }
.input-group input[type="text"]:focus  + label,
.has-value  + label{
    top: -3px;
    font-size: 12px;
    color: #aaa;
        
}

/* do not group these rules */
.input-group ::-webkit-input-placeholder {
    color: #004700;
}
.input-group :-moz-placeholder {
    /* FF 4-18 */
   color: #004700;
}
.input-group ::-moz-placeholder {
    /* FF 19+ */
    color: #004700;
}
.input-group :-ms-input-placeholder {
    /* IE 10+ */
    color: #004700;
}


/* ---------- adding_data ---------- */
#adding_data input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}
#adding_data {
	margin: 50px auto;
	width: 400px; height:auto; display:block;
}

#adding_data h2 {
	background-color: #7DA60F;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
	margin:0px;
	border:0px;
}


#adding_data fieldset {
	background-color: #fff;border:0px;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding:20px 20px 20px 23px;
}

#adding_data fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#adding_data fieldset p:last-child {
	margin-bottom: 0;
}

#adding_data input, #adding_data textarea{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#adding_data fieldset input[type="text"],#adding_data fieldset input[type="date"],#adding_data fieldset input[type="tel"] {
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}
#adding_data fieldset textarea{
	height: 70px; max-height:85px;
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
	border: 0;
}
#adding_data fieldset span{font-size:12px;}

#adding_data fieldset input[type="submit"] {
	background-color: #33cc77;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width:153px;border: 0;
}

#adding_data fieldset input[type="submit"]:hover {
	background-color: #28ad63; cursor:pointer;
}

/*********Layout setting*************/
.layout{/*background:url(images/Legal-Scan.jpg) no-repeat; background-size:100% 100%;*/ width:100%; height:2800px;} 
#bck_color{background-color:#fefefe;}
@media print {
/**{ margin: 0!important; padding:0 !important; background:url(images/Legal-Scan.jpg) no-repeat; background-size:cover; }*/
  #controls, .footer, .footerarea{ display: none; }
  .wrapper_print{width:853px; margin:0 auto;}
  html, body {
    /*changing width to 100% causes huge overflow and wrap*/
    height:100%; 
	overflow: hidden;
    background: #FFF;
    /*background: #FFF;*/ 
	line-height:1.5;
	color:#000;
  }
.lft{float:left;}

@page {
  size: 8.5in 14in;  /* width height */
  /*margin: 6.9% 12.4% 9.8% 17.9%;*/
  margin:6.9% 12.2% 4.0% 8.9%;
  
  font-family:"Times New Roman", Times, serif;
}
  .template { width: auto; left:0px; top:0; }


/******Inner Printing Label Styling*******/
.label-reg{ clear:both; margin:5% 0 0px 20%;}
.label-name{ clear:both; margin:5% 0 0px 20%;}
.label-lst-name{clear:both; margin:5% 0 0px 20%;}
.label-dob{clear:both; margin:4% 0 0px 20%;}


.card_inner_con{width:50%; min-height:115px; height:auto; display:inline-table; color:#F00; margin:2% 0 20px 0; border:2px solid #000;}

.table_align{ width:100%; min-height:90.2%; display:table; height:auto; top:0%; left:0%; /*border:1px solid #00F;*/ margin:10% 0 0 0;position:fixed; clear:both; font-size:8.5pt; color:#0FF; }
.card_contain{height:20%;width:100%; }
.table_align > td{width:50%; display:table-cell; vertical-align:top;}
.left-table{ margin:19% 0 0 52%; width:50%; float:left; }
.left-table td{vertical-align:baseline;}
.right-table{ margin:-20% 2% 0 0%; width:95%; float:right; }
}
@media screen{
	.card_inner_con{width:50%; min-height:115px; height:auto; display:inline-table; color:#F00; margin:2% 0 20px 0; border:2px solid #000;}

/*.table_align{ width:50%; top:0%; left:0%; border:1px solid #000; margin:10% 0 0 0;position:absolute; clear:both; font-size:10pt; }
.table_align2{ width:50%; top:10%; left:5.5%; border:0px solid #000; margin:120% 0 0 0;position:absolute; clear:both; font-size:14pt; }
.table_align > td{min-width:35%;width:50%;}*/
	}

/*.card_con{padding:12% 15% 10px 11%; position:relative; height:100%;}
.card_inner_con{width:100%; height:445px; position:relative; margin:0 0 20px 0;}
.side1{width:30%; position:relative;margin:20% 0 0 39%; color:#000; text-decoration:underline; font-weight:400; font-size:16px;}
.side2{width:45%; font-weight:400; color:#F00; text-decoration:line-through;position:relative;padding:0 0% 0 0%;}
/******Inner Printing Label Styling*******

.label-name{position:relative; width:58%; clear:both; margin:0 0 10px 47%;}
.label-lst-name{position:relative; width:50%; clear:both; margin:3% 0 0px 47%;}
.label-dob{position:relative; width:50%; clear:both; margin:14% 0 0 45%;}
*/

